<div class="col-md-6 offset-md-3">
<h4>Add New Record</h4>
<form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>Full Name:</label>
    <input type="text" class="form-control" id="fullName"
    [(ngModel)] = "candidate.fullName" name="fullName">
    </div>
    
    <div class="form-group">
        <label>Company Name:</label>
    <input type="text" class="form-control" id="companyName"
    [(ngModel)] = "candidate.companyName" name="companyName">
    </div>
  
    <div class="form-group">
        <label>Job Position:</label>
    <input type="text" class="form-control" id="jobPosition"
    [(ngModel)] = "candidate.jobPosition" name="jobPosition">
    </div>
    
    <div class="form-group">
        <label>Work Authorization:</label>
    <input type="text" class="form-control" id="workAuthorization"
    [(ngModel)] = "candidate.workAuthorization" name="workAuthorization">
    </div>
    
    <div class="form-group">
        <label>Job Position:</label>
    <input type="date" class="form-control" id="appliedDate"
    [(ngModel)] = "candidate.appliedDate" name="appliedDate">
    </div>

    <div class="form-group">
        <label>Job Description:</label>
    <input type="text" class="form-control" id="jobDescription"
    [(ngModel)] = "candidate.jobDescription" name="jobDescription">
    </div>
  
    <button class="btn btn-success"  type="submit">Submit</button>
  </form>
</div>